body {
    overflow: hidden;
}

#game-board {
    background-color: white;
    display: grid;
    height: 600px;
    width: 600px;
    margin: 20px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #012442a5;
    margin: 0.3rem;
}

.player {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px 25px 25px 100px;
    background-color: #FFFFFFB3;
    color: #301A6B;
}

.cell {
    border: 1px solid black;
}

.circle-board {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border: 4px solid rgb(48, 26, 107);
    background: #ffffff;
    opacity: 0.6;
}

.time-message {
    color: #ff9d5c;
    text-shadow: 3px 3px #570524;
}